<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

<h1>Users</h1>
<% @users.each do |user| %>
<p>User: <%= user.name %></p>
<% end %>

<%= render 'books/left', user: @user, book: @book %>
